@import "./Base/base.scss";

.main__accueil {
    margin: 0 20px;
}

body {
    margin: 0px;
}


/* Entête */
header {
    box-shadow: 0 3px 3px 1px rgb(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: center;

    & img {
        margin: 20px;
        height: 40px;
    }
}

.header--modifier {

    & .logo {
        display: flex;
        align-items: center;
    }

    & a {
        color: inherit;
        text-decoration: none;

    }

    & i {
        display: flex;
        font-size: 20px;
    }
}


/* Localisation */
.localisation {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    // box-shadow: inset -5px 1px 5px #353535;
    margin: 0 -20px 10px -20px;
}


/* Reservation */
.background {
    background-color: $background-color ;
    margin: -20px -40px 0 -20px;
}

.reservation {
    margin: 40px 20px;

    & h1 {
        padding: 0 20px;
        padding-top: 30px;
        font-size: 30px;
        text-align: center;
    }

    & p {
        text-align: center;
        font-size: 18px;
        margin: 0px;
    }
}


/* Boutton */


.boutton {
    display: flex;
    justify-content: center;
    padding: 15px;

    & .explore {
        padding: 25px;
        border-radius: 55px;
        background-image: linear-gradient($secondaire-color, $primaire-color);
        color: white;
        font-weight: bold;
        border: none;
        font-size: 16px;
    }
}


/* Fonctionnement */
.fonctionnement {
    margin-top: 50px;
}

/* Tuto */
.tuto {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
    flex-direction: column;

    & .choix {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(145, 145, 145, 0.4);
        padding: 10px 0;
    }

    & .nombre {
        margin: -14px;
        padding-left: 20px;
        flex-wrap: wrap;
    }

    & i {
        display: flex;
        width: fit-content;
        padding-right: 20px;
        color: gray;
    }

    & .text {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin-left: 14%;
    }

    & p {
        justify-content: flex-end;
        width: max-content;
    }


}

.nombre .etape {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $primaire-color;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}


.restaurants {
    margin: 20px -20px;
    background-color: rgb(233, 233, 233)
}




/* Menu */
.restaurants h2 {
    margin: 20px;
    padding-top: 50px;
}

.menu__accueil {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & figure {
        margin: 0 20px;
        box-shadow: 5px 5px 5px rgb(145, 145, 145, 0.4);
        border-radius: 25px;
    }

    & .nom {
        display: flex;
        height: min-content;
        align-items: center;
        flex-basis: 100%;
        padding-top: 15px;
    }

    & img {
        width: 100%;
        height: 175px;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }

    & .lieux {
        flex-direction: column;
        flex-basis: 100%;
        margin: 0px;
    }

    & p {
        margin: 10px 0;
    }

    & h3 {
        margin: 0px;

    }

    & figcaption {
        background-color: white;
        margin-top: -5px;
        padding: 0 15px;
        border-radius: 0 0 25px 25px;
        padding-bottom: 10px;
    }

    & .bandeau {
        display: flex;
    }

    & .new {
        margin: 20px 0px 0 250px;
        color: $bandeau-color;
        background-color: $tertiaire-color;
        padding: 0 10px;
        height: min-content;
        position: absolute;
    }

    & i {

        margin-left: auto;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }
}

.new p {
    margin: 5px 0;
}





/* .menu i:hover{
    background-image:linear-gradient(#FF79DA ,#9356DC);
} */

footer {
    background-color: $footer_background-color;
    margin-bottom: -20px;



    & .bas_page {
        margin: 20px;
        color: $footer-color;
    }

    & h4 {
        padding-top: 20px;
        font-family: Shrikhand;
        font-size: 20px;
        font-weight: 100;
    }

    & a {
        color: inherit;
        text-decoration: none;
        margin: 0px;
    }

    & .lien {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 40px;
    }

    & i {
        margin-right: 10px;
    }

}

// Page Resteau 
.image_restau img {
    width: 100%;
    height: auto;
}

// Menu restaurant

.carte__restau {
    background-color: lightgrey;
    padding: 10px 0;
    margin-top: -40px;
    position: relative;
    border-radius: 30px 30px 0 0;
}

.menu__restau {
    margin-left: 20px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h2 {
        font-weight: 200;
        font-family: Shrikhand;
    }

    .partie {
        padding-bottom: 5px;
        border-bottom: 3px solid $tertiaire-color;
        width: 50px;
    }

    & .carte__espace {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
}

.carte__repas {
    padding: 15px;
    border-radius: 20px;
    display: flex;
    background-color: white;
    width: 98%;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(145, 145, 145, 0.4);


    & h3 {
        margin: 0px;
        width: 100%;
    }

    & .description {
        display: flex;
        flex-direction: row;

        & p {
            margin: 0px;
            margin-top: 5px;
        }

        & .prix {
            display: flex;
            justify-content: flex-end;
            font-weight: bold;
            width: 10%;
        }

        & .info {
            width: 90%;
        }
    }
}