@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.main__accueil {
  margin: 0 20px;
}

body {
  margin: 0px;
}

/* Entête */
header {
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
}
header img {
  margin: 20px;
  height: 40px;
}

.header--modifier .logo {
  display: flex;
  align-items: center;
}
.header--modifier a {
  color: inherit;
  text-decoration: none;
}
.header--modifier i {
  display: flex;
  font-size: 20px;
}

/* Localisation */
.localisation {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(233, 233, 233);
  margin: 0 -20px 10px -20px;
}

/* Reservation */
.background {
  background-color: #f2f2f2;
  margin: -20px -40px 0 -20px;
}

.reservation {
  margin: 40px 20px;
}
.reservation h1 {
  padding: 0 20px;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
}
.reservation p {
  text-align: center;
  font-size: 18px;
  margin: 0px;
}

/* Boutton */
.boutton {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.boutton .explore {
  padding: 25px;
  border-radius: 55px;
  background-image: linear-gradient(#FF79Da, #9356DC);
  color: white;
  font-weight: bold;
  border: none;
  font-size: 16px;
}

/* Fonctionnement */
.fonctionnement {
  margin-top: 50px;
}

/* Tuto */
.tuto {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  flex-direction: column;
}
.tuto .choix {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(145, 145, 145, 0.4);
  padding: 10px 0;
}
.tuto .nombre {
  margin: -14px;
  padding-left: 20px;
  flex-wrap: wrap;
}
.tuto i {
  display: flex;
  width: fit-content;
  padding-right: 20px;
  color: gray;
}
.tuto .text {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-left: 14%;
}
.tuto p {
  justify-content: flex-end;
  width: max-content;
}

.nombre .etape {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.restaurants {
  margin: 20px -20px;
  background-color: rgb(233, 233, 233);
}

/* Menu */
.restaurants h2 {
  margin: 20px;
  padding-top: 50px;
}

.menu__accueil {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__accueil figure {
  margin: 0 20px;
  box-shadow: 5px 5px 5px rgba(145, 145, 145, 0.4);
  border-radius: 25px;
}
.menu__accueil .nom {
  display: flex;
  height: min-content;
  align-items: center;
  flex-basis: 100%;
  padding-top: 15px;
}
.menu__accueil img {
  width: 100%;
  height: 175px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.menu__accueil .lieux {
  flex-direction: column;
  flex-basis: 100%;
  margin: 0px;
}
.menu__accueil p {
  margin: 10px 0;
}
.menu__accueil h3 {
  margin: 0px;
}
.menu__accueil figcaption {
  background-color: white;
  margin-top: -5px;
  padding: 0 15px;
  border-radius: 0 0 25px 25px;
  padding-bottom: 10px;
}
.menu__accueil .bandeau {
  display: flex;
}
.menu__accueil .new {
  margin: 20px 0px 0 250px;
  color: #319463;
  background-color: #99E2D0;
  padding: 0 10px;
  height: min-content;
  position: absolute;
}
.menu__accueil i {
  margin-left: auto;
}
.menu__accueil a {
  text-decoration: none;
  color: inherit;
}

.new p {
  margin: 5px 0;
}

/* .menu i:hover{
    background-image:linear-gradient(#FF79DA ,#9356DC);
} */
footer {
  background-color: #353535;
  margin-bottom: -20px;
}
footer .bas_page {
  margin: 20px;
  color: white;
}
footer h4 {
  padding-top: 20px;
  font-family: Shrikhand;
  font-size: 20px;
  font-weight: 100;
}
footer a {
  color: inherit;
  text-decoration: none;
  margin: 0px;
}
footer .lien {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
}
footer i {
  margin-right: 10px;
}

.image_restau img {
  width: 100%;
  height: auto;
}

.carte__restau {
  background-color: lightgrey;
  padding: 10px 0;
  margin-top: -40px;
  position: relative;
  border-radius: 30px 30px 0 0;
}

.menu__restau {
  margin-left: 20px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__restau h2 {
  font-weight: 200;
  font-family: Shrikhand;
}
.menu__restau .partie {
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}
.menu__restau .carte__espace {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.carte__repas {
  padding: 15px;
  border-radius: 20px;
  display: flex;
  background-color: white;
  width: 98%;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(145, 145, 145, 0.4);
}
.carte__repas h3 {
  margin: 0px;
  width: 100%;
}
.carte__repas .description {
  display: flex;
  flex-direction: row;
}
.carte__repas .description p {
  margin: 0px;
  margin-top: 5px;
}
.carte__repas .description .prix {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  width: 10%;
}
.carte__repas .description .info {
  width: 90%;
}

/*# sourceMappingURL=Styles.css.map */
