@import "../sass/Base/base";
@import "../sass/Utils/mixin";
@import "../sass/Pages/Accueil";
@import "../sass/Pages/menu";


main {
    margin: 0 20px;
   
}

body {
    margin: 0px;
}


footer {
    background-color: $footer_background-color;
    // margin: -20px;
    padding-bottom: 10px;

    & .bas_page {
        margin: 20px;
        color: $footer-color;
    }

    & h4 {
        margin-top: 0px;
        padding-top: 20px;
        font-family: Shrikhand;
        font-size: 20px;
        font-weight: 100;
    }

    & a {
        color: inherit;
        text-decoration: none;
        margin: 0px;
    }

    & .lien {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // padding-bottom: 40px;
    }

    & i {
        margin-right: 10px;
    }

}




// Page Resteau 

@media (min-width:960px) {

    footer {
        display: flex;
        justify-content: center;

        & .lien {
            flex-direction: row;
            gap: 60px;
        }

        & .bas_page {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: fit-content;
            padding-bottom: 30px;

            & h4 {
                // margin-right: auto;
                justify-content: center;
            }

            & i {
                width: 20px;
                margin-left: -30px;
            }
        }
    }
}