@import "./Base/base.scss";
@import "../Utils/mixin.scss";
@import "../Pages/Accueil.scss";


main {
    margin: 0 20px;
}

body {
    margin: 0px;
}




/* Entête */
.header__acceuil {
    box-shadow: 0 3px 3px 1px rgb(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: center;

    & img {
        margin: 20px auto;
        height: 40px;
    }
}

.header--modifier {
    margin: 0 20px;

    & img {
        margin: 20px auto;
        height: 40px;
    }

    & i {
        justify-content: flex-start;
        font-size: 20px;
    }

    & .logo {
        display: flex;
        align-items: center;
    }

    & a {
        color: inherit;
        text-decoration: none;
    }

}


/* Localisation */
.localisation {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
    margin: 0 -20px 10px -20px;
}


/* Reservation */
.background {
    background-color: $background-color ;
    margin: -20px;
}

.reservation {
    margin: 0 20px 40px 20px;

    & h1 {
        padding: 0 20px;
        padding-top: 30px;
        font-size: 30px;
        text-align: center;
    }

    & p {
        text-align: center;
        font-size: 18px;
        margin: 0px;
    }
}


/* Bouton */


.bouton {
    @include bouton()
}

.bouton:hover {
    @include bouton__hover()
}


/* Fonctionnement */
.fonctionnement {
    margin-top: 50px;
}

/* Tuto */
.tuto {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
    flex-direction: column;

    & .choix {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(145, 145, 145, 0.4);
        padding: 10px 0;
    }

    & .nombre {
        margin: -30px;
        padding-left: 20px;
        flex-wrap: wrap;
    }

    & i {
        display: flex;
        width: fit-content;
        padding-right: 20px;
        color: gray;
    }

    & .text {
        display: flex;
        flex-direction: row;
        // width: 100%;
        align-items: center;
        margin-left: 14%;
    }

    & p {
        justify-content: flex-end;
        width: max-content;
    }


}

.nombre .etape {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $primaire-color;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.choix:hover {
    background-color: rgba($primaire-color, 0.2);

    & i {
        color: $primaire-color;
    }
}

.restaurants {
    margin: 20px -20px;
    background-color: rgb(233, 233, 233)
}


/* Menu */
.restaurants h2 {
    margin: 20px;
    padding-top: 50px;
}

.menu__accueil {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .new {
        position: relative;
    }

    & .new::before {
        content: "Nouveau";
        padding: 8px;
        position: absolute;
        background-color: $tertiaire-color ;
        color: darken($tertiaire-color , $amount: 35%);
        top: 20px;
        right: 30px;
    }

    & figure {
        margin: 0 20px;
        box-shadow: 5px 5px 5px rgb(145, 145, 145, 0.4);
        border-radius: 25px;
    }

    & .nom {
        display: flex;
        height: min-content;
        align-items: center;
        flex-basis: 100%;
        padding-top: 15px;
    }

    & img {
        width: 100%;
        height: 175px;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }

    & .lieux {
        flex-direction: column;
        flex-basis: 100%;
        margin: 0px;
    }

    & p {
        margin: 10px 0;
    }

    & h3 {
        margin: 0px;

    }

    & figcaption {
        background-color: white;
        margin-top: -5px;
        padding: 0 15px;
        border-radius: 0 0 25px 25px;
        padding-bottom: 10px;
    }

    & .bandeau {
        display: flex;
    }


    & i {
        color: white;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
        margin-left: auto;
        font-size: 24px;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }
}

.new p {
    margin: 5px 0;
}

.explore {
    padding-bottom: 40px;
}

.carte i:hover {
    color: transparent;
    -webkit-text-stroke-width: 0px;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
}


footer {
    background-color: $footer_background-color;
    margin: -20px;
    padding-bottom: 10px;

    & .bas_page {
        margin: 20px;
        color: $footer-color;
    }

    & h4 {
        margin-top: 0px;
        padding-top: 20px;
        font-family: Shrikhand;
        font-size: 20px;
        font-weight: 100;
    }

    & a {
        color: inherit;
        text-decoration: none;
        margin: 0px;
    }

    & .lien {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // padding-bottom: 40px;
    }

    & i {
        margin-right: 10px;
    }

}




// Page Resteau 

.image_restau {
    margin: 0 -20px -20px -20px;

    & img {
        width: 100%;
        height: auto;
    }
}

// Menu restaurant

.carte__restau {
    background-color: lightgrey;
    padding: 10px 0;
    margin-top: -40px;
    position: relative;
    border-radius: 30px 30px 0 0;
    margin: -20px;
    margin-top: -40px;

    & h2 {
        margin-left: 20px;
        font-weight: 200;
        font-family: Shrikhand;
    }
}

.menu__restau {
    margin: 0 20px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    gap: 40px;


    .partie {
        padding-bottom: 5px;
        border-bottom: 3px solid $tertiaire-color;
        width: 50px;
    }

    & .carte__espace {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
}

.carte__repas {
    // padding: 15px;
    border-radius: 20px;
    display: flex;
    background-color: white;
    width: 98%;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(145, 145, 145, 0.4);



    & .carte__repas__padding {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        // border: 1px solid green;
    }

    &:hover .check {
        margin-right: 0px;

        // background-color: green;
        & i {

            transform: rotate(360deg);
            transition: transform 500ms ease-in-out;
        }
    }


    & .colonne {
        flex-basis: 100%;
        height: 100%;
        padding: 15px;
        white-space: nowrap;
        overflow: hidden;
    }

    & h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0px;
        width: 100%;
    }

    & .description {
        display: flex;
        flex-direction: row;
        width: 100%;

        & p {
            // padding-left: 15px;
            margin: 0px;
            margin-top: 5px;
            margin-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .prix {
            display: flex;
            justify-content: flex-end;
            font-weight: bold;
            margin-left: auto;
            padding: 0 5px;
            flex-shrink: 0;
        }

        & .info {
            width: 95%;
            font-size: 15px;
        }
    }


}

.delay__0 {
    animation: apparition 1s 200ms ease-out;
}

.delay__1 {
    animation: apparition 1s 400ms ease-out;
}

.delay__2 {
    animation: apparition 1s 600ms ease-out;
}

.check {
    // border: 1px solid red;
    margin-right: -100px;
    padding: 0 15px;
    border-radius: 0 20px 20px 0;
    background-color: $tertiaire-color;
    transition: margin-right 0.4s;
    color: white;
    display: flex;
    align-items: center;

    i {
        background-color: white;
        color: $tertiaire-color;
        border-radius: 50%;
        padding: 6px;
        font-size: 15px;
    }
}

.commander {
    padding-top: 40px;
    padding-bottom: 60px;
}

@keyframes apparition {
    0% {
        // scale: 0;
        transform: translateY(100px);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (min-width:800px) {

    // Media Queries Accueil
    .localisation {
        margin: 20px auto;
        width: 30%;
        display: flex;
        background-color: transparent;
        border-radius: 15px;
        border: 2px solid darken($color: #e9e9e9, $amount: 20%);

        & p {
            margin: 10px;
        }
    }

    .background {
        margin-top: 20px;
    }

    .tuto {

        & .fonctionnement {
            margin: 0 auto;
            margin-top: 40px;
        }

        & .choix {
            width: 50%;
            margin: 0 auto;
        }
    }

    .restaurants {


        & .text {
            padding: 20px 0;
            padding-bottom: 40px;
        }

        & h2 {
            width: fit-content;
            margin: 0 auto;
            padding: 0px;
            font-size: 26px;
        }
    }
}

.menu__accueil {
    // width: 80%;
    display: grid;
    margin: 0 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    grid-auto-rows: minmax(100px, auto);


    & .carte {
        width: 100%
    }

    & figure {
        margin: 0px;
    }
}

footer {
    display: flex;
    justify-content: center;

    & .bas_page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: fit-content;

        & h4 {
            margin-right: auto;
        }

        & i {
            width: 20px;
            margin-left: -30px;
        }
    }
}

@media (min-width:800px) {


    .header--modifier {
        margin: 0 250px;

        & img {
            height: 40px;
        }

        & i {
            justify-content: center;
            font-size: 20px;
            font-size: 25px;
        }

        & .logo {
            display: flex;
            justify-content: center;
        }
    }

    .image_restau {
        margin: 0;
        display: flex;
        justify-content: center;


        & img {
            border: 5px solid $tertiaire-color;
            border-radius: 20px;
            width: 30%;
            height: auto;
        }

        // &::before {
        //     content: "A la française";
        //     position: absolute;
        //     font-family: Shrikhand;
        //     top: 20%;
        //     right: 20%;
        //     font-size: 28px;
        // }
    }

    .carte__restau {
        margin-top: 40px;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 50%;
        margin: 20px auto;
        border-radius: 25px;

        & h2 {
            display: flex;
            justify-content: center;
        }
    }

    .menu__restau {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;

        & .partie {
            margin: 20px auto 0 auto;
        }

    }



}